<div class="container">
    <div class="form-box">
        <form action="#" class="form">
            <fieldset>
                <h1 class="form__title">settings</h1>
                <div class="form__settings">
                    <div class="form__settings-avatar">
                        <input type="file" name="avatar" id="avatar-upload" class="avatar-input">
                        <label for="avatar-upload"><img src="../../asserts/avatar_upload.png" alt="avatar-upload"></label>
                    </div>
                    <div class="form__settings-blocks">
                        <div class="form__settings-left">
                            \{{{Input title="name" name="first_name" type="text"}}}
                            \{{{Input title="display name" name="display_name" type="text"}}}
                            \{{{Input title="email" name="email" type="text"}}}
                            \{{{Input title="old password" name="oldPassword" type="password"}}}
                        </div>
                        <div class="form__settings-right">
                            \{{{Input title="last name" name="second_name" type="text"}}}
                            \{{{Input title="login" name="login" type="text"}}}
                            \{{{Input title="phone" name="phone" type="number"}}}
                            \{{{Input title="new password" name="newPassword" type="password"}}}
                        </div>
                    </div>
                </div>
                \{{{Button title="save"}}}
            </fieldset>
        </form>
    </div>
</div>
