<div class="container">
    <div class="form-box">
        <form action="#" class="form">
            <fieldset>
                <h1 class="form__title">sign up</h1>

                \{{{Input title="name" name="first_name" type="text"}}}
                \{{{Input title="last name" name="second_name" type="text"}}}
                \{{{Input title="login" name="login" type="text"}}}
                \{{{Input title="password" name="password" type="password"}}}
                \{{{Input title="email" name="email" type="text"}}}
                \{{{Input title="phone" name="phone" type="number"}}}

                \{{{Button title="sign up" link="#" link_name="sign in"}}}
            </fieldset>
        </form>
    </div>
</div>
