<div class="container">
    <div class="form-box">
        <form action="#" class="form">
            <fieldset>
                <h1 class="form__title">sign up</h1>

                \{{{Input label="name" name="first_name" type="text"}}}
                \{{{Input label="last name" name="second_name" type="text"}}}
                \{{{Input label="login" name="login" type="text"}}}
                \{{{Input label="password" name="password" type="password"}}}
                \{{{Input label="email" name="email" type="text"}}}
                \{{{Input label="phone" name="phone" type="number"}}}

                \{{{Button title="sign up" link="#" link_name="sign in" onClick=onButtonClick}}}
            </fieldset>
        </form>
    </div>
</div>
